@inject ILibraryService LibraryService
@inject NavigationManager Navigation
@using Tessera.Models.Authentication
@using Tessera.Constants;
@using Newtonsoft.Json.Linq;
@using System.Text;

<div class="register-container debug-border-1">
    <div class="register-inputs-container debug-border-5">
        <div class="auth-container debug-border-2">
            <p class="login-errors">@FirstNameError</p>
            <div class="input-container">
                <input type="text" id="input" required="" @bind="FirstName">
                <label for="input" class="label">First Name</label>
                <div class="underline"></div>
            </div>
            <p class="login-errors">@LastNameError</p>
            <div class="input-container">
                <input type="text" id="input" required="" @bind="LastName">
                <label for="input" class="label">Last Name</label>
                <div class="underline"></div>
            </div>
            <p class="login-errors">@EmailError</p>
            <div class="input-container">
                <input type="text" id="input" required="" @bind="Email">
                <label for="input" class="label">Email</label>
                <div class="underline"></div>
            </div>
            <p class="login-errors">@ConfirmEmailError</p>
            <div class="input-container">
                <input type="text" id="input" required="" @bind="ConfirmEmail">
                <label for="input" class="label">Confirm Email</label>
                <div class="underline"></div>
            </div>
            <p class="login-errors">@PasswordError</p>
            <div class="input-container">
                <input type="text" id="input" required="" @bind="Password">
                <label for="input" class="label">Password</label>
                <div class="underline"></div>
            </div>
            <p class="login-errors">@ConfirmPasswordError</p>
            <div class="input-container">
                <input type="text" id="input" required="" @bind="ConfirmPassword">
                <label for="input" class="label">Confirm Password</label>
                <div class="underline"></div>
            </div>
        </div>
    </div>
    <p class="login-errors">@GenericError</p>
    <button class="btn-primary" @onclick="RegisterAsync">Register</button>
    <button class="cus-btn-secondary" @onclick="SwitchToLogin">Back To Login</button>
</div>

@code {
    [Parameter] public EventCallback OnSwitchToLogin { get; set; }
    [Parameter] public EventCallback OnSwitchToCreateOrg { get; set; }

    // RegisterDefualtModel Inputs
    private string FirstName { get; set; } = "TestDummy";
    private string LastName { get; set; } = "Three";
    private string Email { get; set; } = "td3@test.com";
    private string ConfirmEmail { get; set; } = "td3@test.com";
    private string Password { get; set; } = "Test@123";
    private string ConfirmPassword { get; set; } = "Test@123";

    // Error Messages
    private MarkupString FirstNameError { get; set; }
    private MarkupString LastNameError { get; set; }
    private MarkupString EmailError { get; set; }
    private MarkupString ConfirmEmailError { get; set; }
    private MarkupString PasswordError { get; set; }
    private MarkupString ConfirmPasswordError { get; set; }
    private string GenericError { get; set; }

    private async Task RegisterAsync()
    {
        var model = new RegisterDefaultModel
        {
            FirstName = FirstName,
            LastName = LastName,
            Email = Email,
            ConfirmEmail = ConfirmEmail,
            Password = Password,
            ConfirmPassword = ConfirmPassword
        };

        ResetErrorMessages();

        JObject result = await LibraryService.RegisterAsync(model);

        if (result.ContainsKey("result"))
        {
            string resultString = result["result"].ToString();

            if (resultString == Keys.API_REG_SUCC || resultString == Keys.API_GENERIC_SUCC)
            {
                // Redirect to login page after successful registration
                var loginModel = new LoginDefaultModel
                {
                    Email = Email,
                    Password = Password,
                    RememberMe = false
                };

                JObject loginResult = await LibraryService.LoginAsync(loginModel);
                resultString = loginResult["result"].ToString();
                if (resultString == Keys.API_LOGIN_SUCC || resultString == Keys.API_GENERIC_SUCC)
                {
                    await SwitchToCreateOrg();
                }
                else
                {
                    GenericError = "Registration Succeeded. Attempt to login Failed.";
                }
            }
        }

        else if (result.ContainsKey("errors"))
        {
            try
            {
                JObject errors = JObject.Parse(result["errors"].ToString());
                StringBuilder FNameErrorMessages = new StringBuilder();
                StringBuilder LNameErrorMessages = new StringBuilder();
                StringBuilder EmailErrorMessages = new StringBuilder();
                StringBuilder CEmailErrorMessages = new StringBuilder();
                StringBuilder PassErrorMessages = new StringBuilder();
                StringBuilder CPassErrorMessages = new StringBuilder();

                if (errors.ContainsKey("FirstName"))
                {
                    JArray FNameErrorsArray = (JArray)errors["FirstName"];
                    FNameErrorMessages.AppendLine(string.Join(", ", FNameErrorsArray.Select(e => e.ToString())));
                    FNameErrorMessages.Append("<br />");
                    FirstNameError = new MarkupString(FNameErrorMessages.ToString());
                }
                if (errors.ContainsKey("LastName"))
                {
                    JArray LNameErrorsArray = (JArray)errors["LastName"];
                    LNameErrorMessages.AppendLine(string.Join(", ", LNameErrorsArray.Select(e => e.ToString())));
                    LNameErrorMessages.Append("<br />");
                    LastNameError = new MarkupString(LNameErrorMessages.ToString());
                }
                if (errors.ContainsKey("Email"))
                {
                    JArray EmailErrorsArray = (JArray)errors["Email"];
                    EmailErrorMessages.AppendLine(string.Join(", ", EmailErrorsArray.Select(e => e.ToString())));
                    EmailErrorMessages.Append("<br />");
                    EmailError = new MarkupString(EmailErrorMessages.ToString());
                }
                if (errors.ContainsKey("ConfirmEmail"))
                {
                    JArray CEmailErrorsArray = (JArray)errors["ConfirmEmail"];
                    CEmailErrorMessages.AppendLine(string.Join(", ", CEmailErrorsArray.Select(e => e.ToString())));
                    CEmailErrorMessages.Append("<br />");
                    ConfirmEmailError = new MarkupString(CEmailErrorMessages.ToString());
                }
                if (errors.ContainsKey("Password"))
                {
                    JArray PassErrorsArray = (JArray)errors["Password"];
                    PassErrorMessages.AppendLine(string.Join(", ", PassErrorsArray.Select(e => e.ToString())));
                    PassErrorMessages.Append("<br />");
                    PasswordError = new MarkupString(PassErrorMessages.ToString());
                }
                if (errors.ContainsKey("ConfirmPassword"))
                {
                    JArray CPassErrorsArray = (JArray)errors["ConfirmPassword"];
                    CPassErrorMessages.AppendLine(string.Join(", ", CPassErrorsArray.Select(e => e.ToString())));
                    CPassErrorMessages.Append("<br />");
                    ConfirmPasswordError = new MarkupString(CPassErrorMessages.ToString());
                }
            }
            catch (Newtonsoft.Json.JsonReaderException)
            {
                //if (result)
                string errorsStr = result["errors"].ToString();
                JArray errorsAry = JArray.Parse(errorsStr);

                foreach (JObject errorObj in errorsAry)
                {
                    if (errorObj.TryGetValue("code", out JToken value))
                    {
                        string error = value.ToString();
                        if (error == Keys.API_REG_CODE_1)
                        {
                            GenericError = "An account with that email already exists";
                        }
                    }
                    else
                        GenericError = "Generic Error";
                }


            }

        }
    }

    private async Task SwitchToLogin()
    {
        ResetErrorMessages();

        if (OnSwitchToLogin.HasDelegate)
        {
            await OnSwitchToLogin.InvokeAsync(null);
        }
    }

    private async Task SwitchToCreateOrg()
    {
        ResetErrorMessages();

        if (OnSwitchToCreateOrg.HasDelegate)
        {
            await OnSwitchToCreateOrg.InvokeAsync(null);
        }
    }

    private void ResetErrorMessages()
    {
        FirstNameError = new MarkupString(string.Empty);
        LastNameError = new MarkupString(string.Empty);
        EmailError = new MarkupString(string.Empty);
        ConfirmEmailError = new MarkupString(string.Empty);
        PasswordError = new MarkupString(string.Empty);
        ConfirmPasswordError = new MarkupString(string.Empty);
        GenericError = null;
    }
}
